# Large media files
*.mp4
*.mov
*.avi
*.mkv
*.wmv

# Node modules
node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
/build
/dist

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 