.slider {
  height: 100px;
  position: relative;
  overflow: hidden;
  width: 100%;

  padding: 1.5rem 0;
}

.slide-track {
  display: flex;
  height: 100%;
  width: calc(250px * 8); /* width = slide width * number of items */
  animation: scroll 30s linear infinite;
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

.slide {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-item {
  height: 100%;
  scale: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.slider-item:hover {
  transform: scale(1.1);
}

.slider-item img {
  width: 100%;
  
  max-height: 60px;
  object-fit: contain;
  filter: grayscale(0%);
  transition: filter 0.3s ease;
}

.slider-item:hover img {
  filter: grayscale(100%);
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Swiper Navigation Buttons */
.social-media-slider .swiper-button-next,
.social-media-slider .swiper-button-prev {
  color: #000;
}

/* Swiper Pagination */
.social-media-slider .swiper-pagination-bullet {
  background: #000;
}

.social-media-slider .swiper-pagination-bullet-active {
  background: #000;
}
